.bedrijfsp
{
	margin: 10px;
	padding:5px;
	display:inline-block;
}
.naam
{
	font-size:26px;
	text-align:center;
	width:100%;
	float:left;
	margin-bottom:10px
}
.contact
{
	float:right;
	border:1px solid gray;
	border-radius:3px;
	padding:10px;
}
.contact  tr  td
{
	padding-right:15px;
}
.info
{
	float:left;
	width:65%;
}