*
{
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

header
{
	height: 100px;
}

#bar
{
	height: 50px;
	width: 100%;
	background-color: #1F3A93;
	z-index: 0;
	position: relative
}

nav
{
	width: 480px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

nav > ul > li
{
	padding-top: 10px;
	float: left;
	list-style-type: none;
	display: block;
	width: 120px;
	height: 40px;
	color: white;
	font-size: 19px;
	cursor: pointer;
}

nav > ul > li:hover
{
	background-color: #22A7F0;
}

#content
{
	width: 70%;
	background-color: red;
}